@model IEnumerable<AFRI_AusCare.Models.Event>
<!-- breadcam_area_start -->
<div class="slider_area slider_bg_1 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single_slider">
                    <div class="slider_text">
                        <h3>
                            Events
                        </h3>
                        <p class="text-white">
                            We create events to help African young people & families access legal, health and community <br>
                            services, and run community programs that promote wellbeing & life opportunities
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcam_area_end -->
<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    @foreach (var item in Model)
                    {
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <a href="@Url.Action("Gallery", "Home")#eventLoad">
                                    <img class="card-img rounded-0" src="@item.ImageUrl" alt="">
                                </a>
                                <a href="#" class="blog_item_date">
                                    <h3>@item.CreatedDate.ToString("dd")</h3>
                                    <p>@item.CreatedDate.ToString("MMMM")</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>@item.Title</h2>
                                </a>
                                <p>
                                    @item.Description
                                </p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> @item.Author</a></li>
                                </ul>
                            </div>
                        </article>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->