@model IEnumerable<AFRI_AusCare.Models.Album>

<!-- breadcam_area_start -->
<div class="breadcam_area bradcam_bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breadcam_text">
                    <h3>Gallery</h3>
                    <p class=" text-white">
                        We are building a future where services will acknowledge and are sensitive to African <br> and
                        culturally and linguistically diverse (CALD) people´s perception of mental health.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcam_area_end -->
<!-- volunteers_area_satrt -->
<div class="volunteers_area">
    <div class="container">
        <div class="col-xl-12 col-md-12">
            <div class="causes_info">
                <div class="section_title text-center">
                    <h3>
                        Albums: All Images we have and fun
                    </h3>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            @foreach (var item in Model)
            {
                <div class="col-md-6 mb-5">
                    <div>
                        <h3>@item.Title</h3>
                        <hr />
                    </div>
                    <div id="@item.Id" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            @{
                                int count = 0;
                            }

                            @foreach (var img in item.Galleries)
                            {
                                <div class="carousel-item @(count == 0 ? "active" : "")">
                                    <a href="@img.ImageUrl" class="img-pop-up">
                                        <div class="single-gallery-image" style="background: url(@img.ImageUrl);"></div>
                                    </a>
                                </div>

                                count++;
                            }
                        </div>
                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#@item.Id" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#@item.Id" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- volunteers_area_end -->
