@model IEnumerable<AFRI_AusCare.Models.KeyPartner>

<!-- breadcam_area_start -->
<div class="slider_area slider_bg_1 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single_slider">
                    <div class="slider_text">
                        <h3>Key Partners</h3>
                        <p class="text-white"> Afri-Aus Care would not have achieved the ability to support the community <br> without our many partners and supporters.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcam_area_end -->
<!-- volunteers_area_satrt -->
<div class="volunteers_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-60">
                    <span>We Work For</span>
                    <h3>
                        We Serve For Peoples
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xl-3 col-md-6">
                    <div class="single_volunteer">
                        <div class="thumb text-center">
                            <img src="@item.ImageUrl" alt="" class="img-key-partner">
                            <div class="social_links">
                                <ul>
                                    <li><a href="@item.Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="@item.Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="@item.Instagram"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="author_name text-center">
                            <h3>@item.Name</h3>
                            <span>@item.Role</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- volunteers_area_end -->
